node_modules
lerna-debug.log
.yarn/
.pnp*
yarn-debug.log
packages/*/dist
packages/*/lib
packages/*/types
plugins/*/dist
plugins/*/lib
plugins/*/types
.next
.env
.env.local

coverage

# TypeScript cache
*.tsbuildinfo

.turbo
