node_modules
lerna-debug.log
yarn-debug.log
packages/*/lib
packages/*/types
plugins/*/lib
plugins/*/types
examples/*/lib
examples/*/types
.next
.env
.env.local

coverage

# TypeScript cache
*.tsbuildinfo

.turbo
